body{
	width:100%;
	height:100%;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFF;
}

h1{
	color:#3b5998;
}

h3{
	position:relative;
	top:-15px;
}

img{
	border:0px;
}
img a{
	border:0px;
}

body,div,tr,td,table{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#000;
}

#container{
	width:1024px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
	
	border-left:3px #000 solid;
	border-right:3px #000 solid;
}

#banner {
	background-color:#000;
	width:1020px;
}

#nav {
	width:1020px;
}

ul #nav {
	background-color:#000;
}

#nav a{
	font-size:24px;
	text-decoration:none;
}

#nav a:hover, a:focus, .nav>li>a:hover, .nav>li>a:focus,.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	text-decoration: none;
	background-color: #000; !important
	color: #FFF;
}

.navbar-left{
	width:1024px;
	background-color:#000;
	float:left;
}

#nav,
#subnav {
	background-color:#000;
}


#content{
	height:auto;
	margin-left:15px;

	float:left;
	width:740px;
	padding-bottom:30px;
}

#content2{
	height:auto;
	margin-left:15px;

	float:left;
	width:100%;
	padding-bottom:30px;
}



#subnav {
	padding-left: 15px;
	padding-bottom: 8px;
}
#subnav a {
	display: block;
	float: left;
	color: #FFFFFF;
	padding: 0 10px;
}

#footer{
	height:192px; !important;
	width:1020px;
	clear:both;
	background-color:#000;
}

#rightside{
	float:left
	width:265px;
	padding-top:10px;
}

#right{
	float:right;
	width:232px;
	height:192px;
	background-image:url(images/footer2.jpg);
}

#date{
	background-color:none;
	position:relative;
	color:#FFF;
	font-weight:bold;
	font-size:18px;
	top:+120px;
	left:+23px;
	text-align:center;
}

#date a {
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
}
#date a:link {
	text-decoration: underline;
}
#date a:visited {
	text-decoration: underline;
	color: #FFFFFF;
}
#date a:hover {
	text-decoration: none;
	color: #FFFFFF;
}
#date a:active {
	text-decoration: underline;
	color: #FFFFFF;
}


#date2{
	background-color:none;
	position:relative;
	color:#FFF;
	font-weight:bold;
	font-size:18px;
	top:+50px;
	left:-15px;
	text-align:center;
	width:200px;
}

#date2 a {
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
}
#date2 a:link {
	text-decoration: underline;
}
#date2 a:visited {
	text-decoration: underline;
	color: #FFFFFF;
}
#date2 a:hover {
	text-decoration: none;
	color: #FFFFFF;
}
#date2 a:active {
	text-decoration: underline;
	color: #FFFFFF;
}



#left{
	float:left;
	height:192px;
	background-color:#000;
	background-image:url(images/footer.jpg);
	width:792px;
}

#left2{
	float:left;
	height:192px;
	background-color:#000;
	background-image:url(images/footer.jpg);
	width:100%;
}

a {
	font-size: 12px;
	color: #620C0D;
	font-weight: bold;
}
a:link {
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
	color: #CF0D03;
}
a:hover {
	text-decoration: none;
	color: #D10000;
}
a:active {
	text-decoration: underline;
	color: #CA1001;
}

.clear {
	clear:both;
}