{% extends 'base.html' %}

{% block extra_headers %}

<style>

.form .h
{
	vertical-align: top;
	font-weight: bold;
}

</style>

<script type="text/javascript" src="{{ URL_ROOT }}lib/ckeditor/ckeditor.js"></script>

{% endblock %}

{% block content %}

<span style="color:green">{{ msg }}</span>
<span style="color:red">{{ err }}</span>
<form method="post" enctype="multipart/form-data">

<table class="form">
	<tr>
		<td class="h">Submitter Name</td>
		<td><input name="submitter_name" value="" type="text" /></td>
	</tr>
	<tr>
		<td class="h">Submitter Phone</td>
		<td><input name="submitter_phone" value="" type="text" /></td>
	</tr>
	<tr>
		<td class="h">Submitter Email</td>
		<td><input name="submitter_email" value="" type="text" /></td>
	</tr>
	<tr>
		<td class="h">Event Title</td>
		<td><input name="event_title" value="" type="text" /></td>
	</tr>
	<tr>
		<td class="h">Caption</td>
		<td><input name="caption" value="" type="text" /></td>
	</tr>
	<tr>
		<td class="h">Image</td>
		<td><input name="image" type="file" /></td>
	</tr>
	<tr>
		<td class="h">Start Date</td>
		<td><input name="start_date" value="" type="text" /></td>
	</tr>
	<tr>
		<td class="h">Start Time</td>
		<td><input name="start_time" value="" type="text" /></td>
	</tr>
	<tr>
		<td class="h">End Date</td>
		<td><input name="end_date" value="" type="text" /></td>
	</tr>
	<tr>
		<td class="h">End Time</td>
		<td><input name="end_time" value="" type="text" /></td>
	</tr>
	<tr>
		<td class="h">Type</td>
		<td><select name="typekey">{{ types|raw }}</select></td>
	</tr>
	<tr>
		<td class="h">Location</td>
		<td><input name="location" value="" type="text" /></td>
	</tr>
	<tr>
		<td class="h">Location Address</td>
		<td><textarea name="location_address"></textarea></td>
	</tr>
	<tr>
		<td class="h">Description</td>
		<td><textarea name="description"></textarea></td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="submit" value="Submit" />
		</td>
	</tr>
</table>

</form>

<script type="text/javascript">
	CKEDITOR.config.contentsCss = "{{ CSS_ROOT }}main.css";
	CKEDITOR.config.keystrokes = 
	[
		[ CKEDITOR.CTRL + 83 /*S*/, 'save' ] //save for the win!
	]
	CKEDITOR.replace( 'description' );
</script>

{% endblock %}