<!doctype html>
<html lang="en" ng-app="oarsapp">
<meta charset="UTF-8">
<title>{{ website_title }} - {% block pagetitle %}{% endblock %}</title>
{{ GENERATOR_META|raw }}
	
	{% block extra_headers %}
	{% endblock %}
<link type="text/css" rel="stylesheet" href="{{ CSS_ROOT }}style.css" />
<link rel="stylesheet" href="{{ CSS_ROOT }}bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="{{ STATIC_ROOT }}js/bootstrap.min.js"></script>

<script type="text/javascript" src="http://www.dhenr54m.com/js/106575.js" ></script> <noscript><img alt="" src="http://www.dhenr54m.com/106575.png" style="display:none;" /></noscript>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21350486-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</head>
<body>
<div id="container">
  <div id="banner"><img src="{{ STATIC_ROOT }}images/banner.jpg" width="1020" height="200" /></div>
  <div id="nav"> {{ DROPDOWN_MENU|raw }} </div>
  <div id="content"> {% if can_edit %}
    <div style="height:100px;">This space is required by the editor</div>
    {% endif %}
    
    
    {% block content %}
    content goes here
    {% endblock %} </div>
  <div id="rightside"> <img src="{{ STATIC_ROOT }}images/statepolicecar.jpg" /> </div>
  <div id="footer">
	&nbsp;
  </div>
</div>
</body>
</html>