{% extends 'base.html' %}

{% block extra_headers %}

{% endblock %}

{% block content %}
<h2>Register for a Webinar</h2>
<h3>{{ message }}</h3>
<p>Please fill out as much information as possible. A webinar representative will be contacting you with the meeting number and URL.</p>
<form method="post">
  <table>
    <tr>
      <td width="149">Organization Name:</td>
      <td width="210"><input type="text" name="business_name" ></td>
    </tr>
    <tr>
      <td>Mailing Address:</td>
      <td><input type="text" name="mailing_address" ></td>
    </tr>
    <tr>
      <td>Physical Address:</td>
      <td><input type="text" name="physical_address" ></td>
    </tr>
    <tr>
      <td>Contact Name:</td>
      <td><input type="text" name="contact_name" ></td>
    </tr>
    <tr>
      <td>Telephone:</td>
      <td><input type="text" name="telephone"></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input type="text" name="email" ></td>
    </tr>
    <tr>
      <td>URL:</td>
      <td><input type="text" name="url" ></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="submit" value="Send" /></td>
    </tr>
  </table>
</form>
<div style="height:200px;">&nbsp;</div>
{% endblock %}