{% extends 'base.html' %}

{% block extra_headers %}

{% endblock %}

{% block content %}
{{ message }}

<h2>{{ event.event_title }}</h2>
{% if event.img_loc %}
	<img style="float:right;width:317px; height:auto;" src="{{ URL_ROOT }}{{ event.img_loc }}" />
{% endif %}

<table>
	<tr>
		<td><b>Start Date: </b></td>
		<td>{{ event.start_date }}</td>
	</tr>
	{% if event.start_time %}
	<tr>
		<td><b>Start Time: </b></td>
		<td>{{ event.start_time }}</td>
	</tr>
	{% endif %}
	{% if event.end_date %}
	<tr>
		<td><b>End Date: </b></td>
		<td>{{ event.end_date }}</td>
	</tr>
	{% endif %}
	{% if event.end_time %}
	<tr>
		<td><b>End Time: </b></td>
		<td>{{ event.end_time }}</td>
	</tr>
	{% endif %}
	<tr>
		<td><b>Location: </b></td>
		<td>{{ event.location }}</td>
	</tr>
	<tr>
		<td><b>Location Address: </b></td>
		<td>{{ event.location_address }}</td>
	</tr>
</table>

<p>{{ event.description|raw }}</p>
{% endblock %}