{% extends 'base.html' %}

{% block extra_headers %}
<link href="{{ URL_ROOT }}lib/lightbox/css/lightbox.css" rel="stylesheet" />
<script src="{{ URL_ROOT }}lib/lightbox/js/jquery-1.7.2.min.js"></script>
<script src="{{ URL_ROOT }}lib/lightbox/js/lightbox.js"></script>
{% endblock %}

{% block content %}
<div align='center'>
  <i>click an image to view the full size image and caption</i><br />
  
  {% for image in images %}
    {% spaceless %}
    
    <a style="margin-left:10px;"
       href="{{ URL_ROOT }}{{ image.imgloc }}"
       rel="lightbox[gallery]" 
       title="{{ image.caption }}">
       <img border="0" src="{{ URL_ROOT }}includes/resize.php?src={{ URL_ROOT }}{{ image.imgloc }}&h=250&w=250&zc=1" vspace="10px" 
            hspace="10px" 
            alt="{{ image.caption }}" 
            class="bordered" 
            style="width: 250px; height: auto;" />
    </a>
    {% endspaceless %}
    {% if loop.index % 4 == 0 %}
      <br/>
    {% endif %}
  {% else %}
    <div style="font-size:1.5em">No images found!</div>
  {% endfor %}

  <p>Showing Photos {{ Place }} to {{ To }} of {{ total }}</p>
  
  {% if HasPrev %}  
  &#8249;&#8211; <a href="?page={{ HasPrev }}">Previous Page</a>
  {% endif %}
  {% if HasNext %}
  <a href="?page={{ HasNext }}">Next Page</a> &#8211;&#8250;
  {% endif %}
</div>
{% endblock %}