{% extends 'base.html' %}

{% block extra_headers %}
{% if can_edit %}
<script type="text/javascript" src="{{ URL_ROOT }}lib/ckeditor/ckeditor.js"></script>

<script type="text/javascript">

//CKEDITOR.disableAutoInline = true;

var editablecount = {{ EDITABLES_COUNT }};

function addHF(obj,key,value)
{
	var field = document.createElement("input");
	field.setAttribute("type", "hidden");
	field.setAttribute("name", key);
	field.setAttribute("value", value);
	obj.appendChild(field);
}

function saveEditable()
{
	var form = document.createElement("form");
	form.setAttribute("method", "post");
	form.setAttribute("action", "{{ URL_ROOT }}admin/edithome/");
	for(var i = 1; i <= editablecount; i++)
	{
		addHF(form, "editable" + i, document.getElementById("editable" + i).innerHTML);
	}
	var t = document.createElement("div");
	t.appendChild(form);
	form.submit();
}

</script>
{% endif %}
{% endblock %}

{% block content %}
	<div id="editable1" {% if can_edit %} contenteditable="true" {% endif %}>
		{{ editable1|raw }}
	</div>
	<div id="editable2" {% if can_edit %} contenteditable="true" {% endif %}>
		{{ editable2|raw }}
	</div>
	<table style="width:100%">
		<tr>
			<td style="width:33%">
				<div id="editable3" {% if can_edit %} contenteditable="true" {% endif %}>
					{{ editable3|raw }}
				</div>
			</td>
			<td style="width:33%">
				<div id="editable4" {% if can_edit %} contenteditable="true" {% endif %}>
					{{ editable4|raw }}
				</div>
			</td>
			<td style="width:33%">
				<div id="editable5" {% if can_edit %} contenteditable="true" {% endif %}>
					{{ editable5|raw }}
				</div>
			</td>
		</tr>
	</table>
	
	{% if can_edit %}
	<div>
		<button onclick="saveEditable(); return false;">Save</button>
	</div>
	<script type="text/javascript">
//var editor = CKEDITOR.inline( document.getElementById( 'editable1' ) );
	</script>
	{% endif %}
{% endblock %}