{% extends 'base.html' %}

{% block content %}
<h3 class="muted">Choose Gallery to edit</h1>
{% for gal in gals %}
<div>
	<a href="{{ URL_ROOT }}admin/gallery/{{ gal.id }}/">{{ gal.value }}</a>
</div>
{% endfor %}
{% endblock %}