{% extends 'base.html' %}

{% block content %}

<h2>Main Page</h2>

<hr>

<p>On the Left side of your screen you can see the “Sidebar” which
lists everything you need to take care of, edit, and add content to your site.</p>

<img src="{{ URL_ROOT }}templates/admin/img/image1.png" alt="">

<p>Here is the list and rundown of what it means!</p>

<h3>Edit Pages</h3>

<p>If you want to add anything to any page on your site, this is where you go! This section will allow you to add text, images, links, and much much more.</p>

<h3>Edit Main Page</h3>

<p>Just about the same as “Edit Pages” except, this is only for your MAIN PAGE. This is the only place where you can edit the Main Page so try not to get the 2 page editors confused</p>

<h3>Inventory</h3>

<p>If you want to upload pictures from the web or from your computer to use for your site, you use the inventory.</p>

<h3>Logout</h3>

<p>Ready to leave? Don’t forget to log out! </p>

{% endblock %}