{% extends 'base.html' %}

{% block extra_headers %}
<style>

.pageform .h
{
	vertical-align: top;
}

#content .textarea
{
	width: 561px;
}

fieldset
{
	width: 661px;
}

.pageform input[type="text"], .pageform select
{
	width: 300px;
}
</style>

<script type="text/javascript">

function flip(elem)
{
	var obj = document.getElementById(elem);
	//alert(obj.style.display === "block")
	if(obj.style.display === "block")
		obj.style.display = "none";
	else
		obj.style.display = "block";
}

</script>

<script type="text/javascript" src="{{ URL_ROOT }}lib/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block content %}
<h1>Edit Video</h1>
<form method="post" class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="title">Title</label>
		<div class="controls">
			<input type="text" id="title" name="title" value="{{ title|raw }}" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="menukey">Display Video?</label>
		<div class="controls">
            <input type="radio" name="menukey" value="0" {{enabled}}>&nbsp; Yes</input>
            <input type="radio" name="menukey" value="-1" {{disabled}}>&nbsp; No</input>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="linkoverride">Link</label>
		<div class="controls">
			<input type="text" id="link" name="link" value="{{ link|raw }}" />
		</div>
	</div>
	<!--<div class="control-group">
		<label class="control-label" for="description">Description</label>
		<div class="controls">
			<textarea style="height: 109px;width:687px;" id="description" name="description">{{ description }}</textarea>
		</div>
	</div>-->
	<div class="control-group">
		<div class="controls">
			<input class="btn" type="submit" value="Save" />
			
		</div>
	</div>
			
</form>

<script type="text/javascript">
	CKEDITOR.config.contentsCss = "{{ CSS_ROOT }}main.css";
	CKEDITOR.config.width = "700px"
	CKEDITOR.config.keystrokes = 
	[
		[ CKEDITOR.CTRL + 83 /*S*/, 'save' ] //save for the win!
	]
        CKEDITOR.config.allowedContent = true; // don't filter my data
	CKEDITOR.replace( 'content' );
</script>
{% endblock %}

{% block breadcrumbs %}<li><span class="divider">/</span> <a href="{{ URL_ROOT }}admin/videos/">Videos</a>{% endblock %}